<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://letsmeetpairingfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6fbb3b9f-b6a5-4bfa-b035-cf8079dcf103/resourceGroups/Ango-letsmeet/providers/Microsoft.Web/sites/LetsMeetPairingFunctionApp</ResourceId>
    <UserName>$LetsMeetPairingFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://letsmeetpairingfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>